// Ressources générales concernant le site "Ohmyfood", dans cette partie nous retrouverons les polices d'écritures, les
// variables ainsi que les mixins.

        // Polices d'écriture

// Police d'écriture : Shrikhand

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Police d'écriture : Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


        // Variables

// Couleur principale

$main-color: #9356DC;

// Couleur secondaire

$secondary-color: #FF79DA;

// Couleur tertiaire

$tertiary-color: #99E2D0;

// Background Color

$bg-color: #EAEAEA;

// Le gris spécifique au site internet

$special-grey: #353535;

// Dégradé bouton

$button-color: linear-gradient(193.33deg, $main-color -11.44%, $secondary-color 123.93%);



        // Mixins

@mixin block-shadow {
        box-shadow: 0px 4px 15px 0px #00000059;
}

@mixin new_badges {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        font-size: 2.1vh;
        font-weight: 500;
        text-align: center;
        color: #008766;
        background: #99E2D0;
        width: 21.3vw;
        height: 4.35vh;
        border: none;
        right: 10px;
        top: 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px #00000026;
}

@mixin underline {
        margin: 0;
        border: none;
        height: 3px;
        background-color: $tertiary-color;
        width: 40px;
}

        // Keyframes

@keyframes transitionIn {
        from {
                opacity: 0;
                transform: rotateX(-10deg);
        }

        to {
                opacity: 1;
                transform: rotateX(0);
        }
}

// Conformément aux exigences demandées, nous allons réaliser le site internet de Ohmyfood en utilisant la méthode
// mobile-first


body {
        position: relative;
        margin: 0;
        width: 100%;
}

.extrabody {
        animation : transitionIn 1.6s;
}

header {
        top: 0;
        z-index: 1;
}

footer {
        position: relative;
        bottom: 0;
        width: 100%;
        background-color: rgba(53, 53, 53, 1);
}

h1, h6 {
        font-family: 'Shrikhand';
}

button, p, h2, h3, h4, h5, a {
        font-family: 'Roboto';
}

h5 {
        font-size: 2.7vh;
        font-weight: 300;
        text-transform: uppercase;
}

a {
        text-decoration: none;
}

.btn {
        color: white;
        font-size: 2.4vh;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding: 0;
        border: none;
        height: 7.5vh;
        width: 58vw;
        border-radius: 25px;
        background: $button-color;
        transition: 0.6s ease;
        @include block-shadow;

        @media (min-width: 768px) {
                width: 28vw;
        }
        @media (min-width: 1024px) {
                width: 15.13vw;
        }
}

.btn:hover {
        transform: scale(1.1);
        text-shadow: white 1px 0 30px;
        cursor: pointer;
}

.like {
        margin: auto 0;
        padding: 0;
        background-color: inherit;
        border: none;
        cursor: pointer;

        & i {
                color: black;
                font-size: 3.15vh;
        }
        & i:hover {
                font-weight: 700;
                background-image: linear-gradient(180deg, #FF79DA, #9356DC);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                -moz-text-fill-color: transparent;
                -moz-background-clip: text;
                animation: full-heart 300ms ease-in-out both;
        }

        @media (min-width: 1024px) {
                position: absolute;
                top: 31vh;
                left: 36vw;
        }
}

        // 1ère Partie du Développement du site : Index.html

// Loader

.loader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #EAEAEA;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 999;
        animation: fadeIn 0.5s ease-out, fadeOut 0.5s ease-in 4s forwards;
      }
      
      .loader {
        border: 10px solid transparent;
        border-top: 10px solid #9356DC;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 1s linear infinite;
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
      
      @keyframes fadeIn {
        0% { opacity: 0; }
        100% { opacity: 1; }
      }
      
      @keyframes fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; z-index: -100; }
      }
      
            

// Header

.omf {
        top: 0;
        position: static;
        display: flex;
        flex-direction: column;
        width: 100%;
        z-index: 1;
        .omf__background {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 9.45vh;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                background-color: white;
                z-index: 1;
                &--logo {
                        font-family: 'Shrikhand';
                        font-size: 30px;
                        font-weight: 400;
                        margin: 0;
                        z-index: 1;
                        @media (min-width: 1024px) {
                                font-size: 4vh;
                        }
                &--link {
                        margin: 0;
                }
                }
        }
        .omf__location {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: $bg-color;
                height: 7.50vh;
                &--paris {
                        margin-left: 2vh;
                        padding: 0;
                        font-size: 16px;
                        color: $special-grey;
                }
        }
}

.omf__space {
        @media (min-width: 1024px) {
                overflow: hidden;
                margin: 0 0 15vh 0;
        }
}

// Exploration

.exploration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: lighten(black, 96%);
        height: 40vh;
        width: 100%;
        top: 0;
        .exploration__title {
                margin: 0 auto;
                text-align: center;
                font-size: 3.5vh;
                font-weight: 700;
                width: 73.3vw;

                @media (min-width: 768px) {
                        font-size: 6vh;
                }
                }
        .exploration__content {
                margin: 2.5vh auto;
                text-align: center;
                font-size: 2.7vh;
                font-weight: 300;
                width: 84vw;
                color: $special-grey;
                }
        .btn {
                margin: 0 auto;
                }

}

// Fonctionnement

.working {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        height: 70vh;
        margin: 0 auto;
        top: 0;

        @media (min-width: 1024px) {
                height: 27vh;
                flex-direction: column;
        }
        .working__container {
                display: flex;
                margin: 0;
                padding: 0;
        }
        .working__title {
                font-size: 3.6vh;
                font-weight: 700;
                margin: 0;
                width: 73.3vw;

                @media (min-width: 1024px) {
                        margin: 0 0 30px 0;
                        width: 100%;                        
                }
        }
        .step__container {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                margin: 0;
                padding: 0;

                @media (min-width: 1024px) {
                        justify-content: space-between;
                }
        }
        .step {
                position: relative;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 10.85vh;
                margin-top: 5.25vh;
                border-radius: 20px;
                background-color: #f6f6f6;
                @include block-shadow;

                &:hover {
                        background-color: #f2eafb;
                }

                @media (min-width: 1024px) {
                        margin-top: 0px;
                        width: 32%;
                }

                .step__content {
                        display: flex;
                        margin-right: 13.3vw;
                        text-align: center;
                        font-weight: 500;
                        font-size: 2.4vh;

                        @media (min-width: 1024px) {
                                margin: 0 auto;
                                text-align: center;
                        }
                }
                .fa-solid {
                        display: flex;
                        color: #7E7E7E;
                        font-size: 3vh;
                        margin: 0 auto;
                }
                .fa-store {
                        color: $main-color;
                }
                
        }
        .step__number {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9356DC;
                position: absolute;
                left: -10px;
                width: 20px;
                height: 20px;
                border-radius: 25px;
                &--content {
                        color: white;
                        border-radius: 50px;
                        text-align: center;
                        font-size: 2.12vh;
                        font-weight: 500;
                }
        }


}

// Restaurants

.restaurant {
        padding-top: 35px;
        background-color: $bg-color;
        .restaurant__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        margin: 0 auto;
        padding-bottom: 70px;
        top: 0;

        @media (min-width: 1024px) {

        }

        .restaurant__title {
                font-size: 24px;
                font-weight: 700;
                width: 73.3vw;
                margin: 0;
        }
        .card__container {
                display: flex;
                flex-direction: column;
                margin: 0;
                padding: 0;

                @media (min-width: 1024px) {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: space-between;
                }
        }
        .card {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                border-radius: 15px;
                background-color: white;
                width: 90.66vw;
                height: 37.50vh;
                margin: 30px 0 30px 0;
                @include block-shadow;

                @media (min-width: 1024px) {
                        width: 40vw;
                }

                &__img {
                        border-radius: 15px 15px 0 0;
                        object-fit: cover;
                        height: 70%;
                        width: 100%;
                }
                .new {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        @include new_badges;
                        @media (min-width: 768px) {
                                width: 12.4vw;
                        }
                }
                .card__content {
                        display: flex;
                        flex-direction: column;
                        margin: 15px 5px;
                        width: 71.2vw;
                        &--title {
                                font-size: 2.7vh;
                                font-weight: 700;
                                margin: 0;
                                color: #000000;
                        }
                        &--text {
                                font-size: 2.55vh;
                                font-weight: 300;
                                margin: 0;
                                color: #000000;
                        }
                }
        }
}
}

// Footnote

.footnote {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 15px;
        height: 31.05vh;

        @media (min-width: 768px) {
                flex-direction: row-reverse;
                align-items: end;
                height: 18vh;
        }

        .footnote__logo {
                color: white;
                font-size: 24px;
                margin: 12px 0;

                @media (min-width: 768px) {
                        margin: 0;
                }
        }
        .footnote__container {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                margin: 0;
                padding: 0;
                @media (min-width: 768px) {
                        flex-direction: row;
                }
        }
        .footnote__text {
                display: flex;
                color: white;
                font-size: 16px;
                font-weight: 400;
                margin: 10px 10px 0 0;
                &--500 {
                        color: white;
                        font-weight: 900;
                        margin: 10px 10px 0 0;
                }
        }
}

        // 2ème Partie du Développement du site : Les Présentations de Menu

// Header

.omf {
        .omf__background i {
                z-index: 1;
                position: absolute;
                left: 5.4vw;
                font-size: 2.4vh;
                color: #353535;
        }
        .omf__plate {
                position: absolute;
                top: 0;
                width: 100%;
                object-fit: contain;
                z-index: auto;

                @media (min-width: 1024px) {
                        overflow: hidden;
                        height: 50vh;
                }

                &--img {
                        width: 100%;
                        z-index: auto;

                        @media (min-width: 1024px) {
                                position: relative;
                                top: -45vh;
                        }
                }
        }
}

// Présentation

.presentation {
        position: relative;
        top : 25vh;
        width: 100%;
        background-color: $bg-color;
        padding-bottom: 25vh;
        border-radius: 25px 25px 0 0;

        @media (min-width: 1024px) {
                top: 21vh;
                width: 75%;
                margin: 0 auto;
        }

        .presentation__title {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                align-items: center;

                @media (min-width: 1024px) {
                        justify-content: center;
                }

                &--text {
                        margin: 25px 0;
                        font-size: 4.2vh;
                        font-weight: 400;

                        @media (min-width: 1024px) {
                                margin-right: 1vw;
                        }

                }
                .like__menu {
                        position: static;
                        margin: 0 0 0 10px;
                        font-size: 4.2vh;
                }
        }
        .presentation__menu {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin: 12px;
                &--title {
                        margin: 0 0 0.45vh 0;

                        @media (min-width: 1024px) {
                                margin: 0 14vw;
                        }
                }
        .presentation__underline {
                @include underline;
                
                @media (min-width: 1024px) {
                        margin: 0 14vw;
                }
        }
                .menu {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: center;
                        width: 93.3vw;
                        height: 10.5vh;
                        border-radius: 15px;
                        background-color: white;
                        margin-top: 2.25vh;
                        overflow: hidden;
                        @include block-shadow;

                        @media (min-width: 1024px) {
                                margin: 10px auto;
                                width: 60%;
                        }

                        .menu__container{
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                width: 100%;
                                height: 100%;
                                overflow: hidden;
                                white-space: nowrap;
                                transition: width 0.5s ease;
                                &--title {
                                        margin: 0;
                                        margin: 0 0 0 2.65vw;
                                        width: 100%;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                }
                                &--content {
                                        margin: 0;
                                        margin: 0 0 0 2.65vw;
                                        width: 100%;
                                        text-overflow: ellipsis;
                                        overflow: hidden;
                                        white-space: nowrap;
                                }
                                &:hover {
                                        width: 50%;
                                }
                        }
                        .menu__price {
                                position: relative;
                                left: 20vw;
                                margin: 12.65vh 2.65vw 0 0;
                                height: 100%;
                                flex-shrink: 1;
                                transition: left 0.6s ease;

                                @media (min-width: 768px) {
                                        left: 25vw;
                                }

                                @media (min-width: 1024px) {
                                        left: 8.5vw;
                                }
                        }

                        &:hover {
                                cursor: pointer;
                        }

                        &:hover .menu__price {
                                left: 0;
                        }

                        &:hover .check {
                                left: 0;
                        }


                        .check {
                                display: flex;
                                position: relative;
                                left: 30vw;
                                align-items: center;
                                justify-content: center;
                                background-color: $tertiary-color;
                                border-radius: 0 15px 15px 0;
                                margin: 0;
                                width: 30%;
                                height: 100%;
                                transition: left 0.3s ease;

                                @media (min-width: 1024px) {
                                        width: 20%;
                                }

                                .check__content {
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;
                                        border-radius: 15px;
                                        width: 30px;
                                        height: 30px;
                                        background-color: white;
                                        color: $tertiary-color;

                                        @media (min-width: 1024px) {
                                                width: 30px;
                                                height: 30px;
                                        }
                                }
                        }
                }
                .btn__order {
                        margin: 4.45vh auto 4.45vh;
                }
        }
}

