@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap");
body {
  margin: 0;
  width: 100%;
}

button, p, h2, h3, h4 {
  font-family: "Roboto";
}

a {
  text-decoration: none;
}

header {
  top: 0;
  width: 100%;
}

main {
  top: 0;
  width: 100%;
}

.btn {
  color: white;
  font-size: 2.4vh;
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 0;
  border: none;
  height: 7.5vh;
  width: 58vw;
  border-radius: 25px;
  background: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}

.btn:hover {
  background: linear-gradient(200.64deg, #9356DC -5.2%, #FF79DA 110.74%), linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}

.omf {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.omf .omf__background {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.45vh;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}
.omf .omf__background--logo {
  font-family: "Shrikhand";
  font-size: 5.4vh;
  margin: 0;
}
.omf .omf__location {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EAEAEA;
  height: 7.5vh;
}
.omf .omf__location--paris {
  margin-left: 2vh;
  padding: 0;
  font-size: 16px;
  color: #353535;
}

.exploration {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: whitesmoke;
  height: 40vh;
  width: 100%;
  top: 0;
}
.exploration .exploration__title {
  margin: 0 auto;
  text-align: center;
  font-size: 3.5vh;
  font-weight: 700;
  width: 73.3vw;
}
.exploration .exploration__content {
  margin: 2.5vh auto;
  text-align: center;
  font-size: 2.7vh;
  font-weight: 300;
  width: 84vw;
  color: #353535;
}
.exploration .btn {
  margin: 0 auto;
}

.working {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  height: 70vh;
  margin: 0 auto;
  top: 0;
}
.working .working__title {
  font-size: 3.6vh;
  font-weight: 700;
  margin: 0;
  width: 73.3vw;
}
.working .step {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 86vw;
  height: 10.85vh;
  margin-top: 5.25vh;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
.working .step .step__content {
  display: flex;
  margin-right: 13.3vw;
  text-align: center;
  font-weight: 500;
  font-size: 2.4vh;
}
.working .step .fa-solid {
  display: flex;
  color: #7E7E7E;
  font-size: 3vh;
  margin: 0 auto;
}
.working .step .fa-store {
  color: #9356DC;
}
.working .step__number {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9356DC;
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 25px;
}
.working .step__number--content {
  color: white;
  border-radius: 50px;
  text-align: center;
  font-size: 2.12vh;
  font-weight: 500;
}

.restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90vw;
  margin: 0 auto;
  padding-bottom: 70px;
  top: 0;
}
.restaurant .restaurant__title {
  font-size: 24px;
  font-weight: 700;
  width: 73.3vw;
  margin: 0;
}
.restaurant .card {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 15px;
  width: 90.66vw;
  height: 37.5vh;
  margin: 30px 0 30px 0;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.3490196078);
}
.restaurant .card__img {
  border-radius: 15px 15px 0 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 70%;
  width: 100%;
}
.restaurant .card .new {
  position: absolute;
  font-size: 2.1vh;
  font-weight: 500;
  text-align: center;
  color: #008766;
  background: #99E2D0;
  width: 21.3vw;
  height: 4.35vh;
  border: none;
  right: 10px;
  top: 10px;
  border-radius: 2px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1490196078);
}
.restaurant .card .card__content {
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  width: 71.2vw;
}
.restaurant .card .card__content--title {
  font-size: 2.7vh;
  font-weight: 700;
  margin: 0;
  color: #000000;
}
.restaurant .card .card__content--text {
  font-size: 2.55vh;
  font-weight: 300;
  margin: 0;
  color: #000000;
}
.restaurant .card .card__like {
  margin: auto 0;
  padding: 0;
  font-size: 3.15vh;
  background-color: white;
  border: none;
  cursor: pointer;
}
.restaurant .card .card__like:active svg {
  color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
}/*# sourceMappingURL=style.css.map */