// Ressources générales concernant le site "Ohmyfood", dans cette partie nous retrouverons les polices d'écritures, les
// variables ainsi que les mixins.

        // Polices d'écriture

// Police d'écriture : Shrikhand

@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');

// Police d'écriture : Roboto

@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Shrikhand&display=swap');


        // Variables

// Couleur principale

$main-color: #9356DC;

// Couleur secondaire

$secondary-color: #FF79DA;

// Couleur tertiaire

$tertiary-color: #99E2D0;

// Background Color

$bg-color: #EAEAEA;

// Le gris spécifique au site internet

$special-grey: #353535;

// Le coeur actif

$heart-color: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);



        // Mixins

@mixin block-shadow {
        box-shadow: 0px 4px 15px 0px #00000059;
}

@mixin new_badges {
        position: absolute;
        font-size: 2.1vh;
        font-weight: 500;
        text-align: center;
        color: #008766;
        background: #99E2D0;
        width: 21.3vw;
        height: 4.35vh;
        border: none;
        right: 10px;
        top: 10px;
        border-radius: 2px;
        box-shadow: 0px 2px 4px 0px #00000026;
}





// Conformément aux exigences demandées, nous allons réaliser le site internet de Ohmyfood en utilisant la méthode
// mobile-first

//* {
//        max-width: 375px;
//}

body {
        margin: 0;
        width: 100%;
}

button, p, h2, h3, h4 {
        font-family: 'Roboto';
}

a {
        text-decoration: none;
}

header {
        top: 0;
        width: 100%;
}

main {
        top: 0;
        width: 100%;
}

.btn {
        color: white;
        font-size: 2.4vh;
        font-weight: 500;
        text-align: center;
        margin: 0;
        padding: 0;
        border: none;
        height: 7.5vh;
        width: 58vw;
        border-radius: 25px;
        background: linear-gradient(193.33deg, $main-color -11.44%, $secondary-color 123.93%);
        @include block-shadow;     
}

.btn:hover {
        background: linear-gradient(200.64deg, $main-color -5.2%, $secondary-color 110.74%),
        linear-gradient(0deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15));
}


// Header

.omf {
        display: flex;
        flex-direction: column;
        width: 100%;
        .omf__background {
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 9.45vh;
                box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
                &--logo {
                        font-family: 'Shrikhand';
                        font-size: 5.4vh;
                        margin: 0;
                }
        }
        .omf__location {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background-color: $bg-color;
                height: 7.50vh;
                &--paris {
                        margin-left: 2vh;
                        padding: 0;
                        font-size: 16px;
                        color: $special-grey;
                }
        }
}

// Exploration

.exploration {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: lighten(black, 96%);
        height: 40vh;
        width: 100%;
        top: 0;
        .exploration__title {
                margin: 0 auto;
                text-align: center;
                font-size: 3.5vh;
                font-weight: 700;
                width: 73.3vw;
                }
        .exploration__content {
                margin: 2.5vh auto;
                text-align: center;
                font-size: 2.7vh;
                font-weight: 300;
                width: 84vw;
                color: $special-grey;
                }
        .btn {
                margin: 0 auto;
                }

}

// Fonctionnement

.working {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        height: 70vh;
        margin: 0 auto;
        top: 0;
        .working__title {
                font-size: 3.6vh;
                font-weight: 700;
                margin: 0;
                width: 73.3vw;
        }
        .step {
                position: relative;
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 86vw;
                height: 10.85vh;
                margin-top: 5.25vh;
                border-radius: 20px;
                background-color: #f6f6f6;
                @include block-shadow;
                .step__content {
                        display: flex;
                        margin-right: 13.3vw;
                        text-align: center;
                        font-weight: 500;
                        font-size: 2.4vh;
                }
                .fa-solid {
                        display: flex;
                        color: #7E7E7E;
                        font-size: 3vh;
                        margin: 0 auto;
                }
                .fa-store {
                        color: $main-color;
                }
                
        }
        .step__number {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #9356DC;
                position: absolute;
                left: -10px;
                width: 20px;
                height: 20px;
                border-radius: 25px;
                &--content {
                        color: white;
                        border-radius: 50px;
                        text-align: center;
                        font-size: 2.12vh;
                        font-weight: 500;
                }
        }


}

// Restaurants

.restaurant {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 90vw;
        margin: 0 auto;
        padding-bottom: 70px;
        top: 0;
        .restaurant__title {
                font-size: 24px;
                font-weight: 700;
                width: 73.3vw;
                margin: 0;
        }
        .card {
                position: relative;
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                border-radius: 15px;
                width: 90.66vw;
                height: 37.50vh;
                margin: 30px 0 30px 0;
                @include block-shadow;
                &__img {
                        border-radius: 15px 15px 0 0;
                        object-fit: cover;
                        height: 70%;
                        width: 100%;
                }
                .new {
                        @include new_badges;
                }
                .card__content {
                        display: flex;
                        flex-direction: column;
                        margin: 15px 5px;
                        width: 71.2vw;
                        &--title {
                                font-size: 2.7vh;
                                font-weight: 700;
                                margin: 0;
                                color: #000000;
                        }
                        &--text {
                                font-size: 2.55vh;
                                font-weight: 300;
                                margin: 0;
                                color: #000000;
                        }
                }
                .card__like {
                        margin: auto 0;
                        padding: 0;
                        font-size: 3.15vh;
                        background-color: white;
                        border: none;
                        cursor: pointer;
                        &:active svg {
                                color: $heart-color;
                        }
                }

        }


}



